{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner hdr">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>{{ api_category_name }}
                <figure class="creator">
                    <img src="{{creator.picture}}">
                    <figcaption>{{creator.name}}</figcaption>
                </figure>
            </h1>
        </div>
    </div>

    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% if api !=[] %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="api">
                    <h2>{{ api.title }}</h2>
                    <p>{{ api.description }}</p>
                    <p class="url"><a href="{{ api.url }}"" target="_blank">{{api.url}}</a></p>
                    <a href="{{ url_for('editApi', api_title_slug = api.slug) }}">Edit</a> |
                    <a href="{{ url_for('deleteApi', api_title_slug = api.slug) }}">Delete</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    {% endif %}
{% endblock %}
